<div class="wrapper">
    <div class="container">
        <div class="row">
            <h1>Listado de Escritores</h1>
        </div>

        <div class="row filtros shadow p-3 mb-5 bg-white rounded">
            <div class="col-12">
                <div>
                    <select class="custom-select" (change)="manejarFiltroPais($event)">
                        <option value="" selected>Filtro por País</option>
                        <option value="todos">Todos</option>
                        <option value="españa">España</option>
                        <option value="reino unido">Reino Unido</option>
                        <option value="chile">Chile</option>
                        <option value="canadá">Canadá</option>
                    </select>
                </div>
                <div class="nombre">
                    <input (input)="manejarFiltroNombre($event)" type="text" class="form-control"
                        placeholder="Filtro por Nombre">
                </div>
            </div>
        </div>

        <div class="row shadow p-3 mb-5 bg-white rounded">
            <div class="escritores card bg-light mb-3 shadow p-3 mb-5 bg-white rounded" style="width: 14rem;"
                *ngFor="let escritor of arrEscritores" [routerLink]="['/escritores', escritor.id]">
                <img [src]="escritor.imagen" class="card-img-top" width="150px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">{{escritor.nombre}}</h5>
                    <h5 class="card-title">{{escritor.apellidos}}</h5>
                    <p class="card-text">País: {{escritor.pais.toUpperCase()}}</p>
                    <p class="card-text">Identificador: {{escritor.id}}</p>
                </div>
            </div>
        </div>
    </div>
</div>